.Header.navbar {
  background-color: #6899BA !important;
}

.HeaderTitle{
  padding-left: 10%;
}

.navLink {
  color: black;
  padding: .1rem .6rem !important; 
}

a.navLink:hover {
  color: whitesmoke;
}

.logout {
  margin-left: 2rem;
}

@media only screen and (max-width: 800px) {
  .logout {
    margin-left: .6rem;
  }
}

