.Header.navbar {
  background-color: #6899BA !important;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.HeaderTitle{
  padding-left: 10%;
}

.navLink {
  color: black;
  padding: .1rem .6rem !important; 
}

a.navLink:hover {
  color: whitesmoke;
}

.logout {
  margin-left: 2rem;
}

