 .navbar-expand.navMenu, .navbar-expand.navMenu .navbar-nav {
  flex-direction: column !important;
  margin-left:3%;
  align-items: flex-start;
  
}

.navbar.navMenu {
  align-items: flex-start !important;
  padding-top: 20%;
}

.navbar-brand{
  padding-left: 1%;
}
