.App {
  min-height: 100vh; 
  display: flex;
  flex-direction: column;

}

.App .body {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.App .body .sidebar {
  order: -1;
  max-width: 12em;
  flex-basis: 12em;
  box-shadow: inset rgba(0, 0, 0, .08) -1px 0 0;
  background-color: rgb(255, 255, 255);
  padding-right: 1px;
  margin-top: 2%;
  /* margin-left: 2%; */
  margin-bottom: 2%;
  /* border-style: solid; */
  /* border-width: 2px; */
  /* border-radius: 15px; */
}

.App .body .content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: -webkit-fill-available;
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 2em;
  padding-bottom: 2em;
}

a{
    border-width: 25px;
    border-color: black;
    border-radius: 10%;
}

h3{
  text-align: center;
  padding-bottom: .5em;
  
}

h6{
  text-align: center;
  padding-bottom: 2em;
}

.form{
  margin-left: 5%;
  margin-right: 5%;
}

.createHeader{
  padding: .5em;
  margin-bottom: 1em;
  /* background-color: rgb(180, 93, 93); */
  
}
.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
}

.ReactTable {
  background-color: #888d94;
  color: #fff;
  border:2px solid #abb1b9;
}

.ReactTable .rt-tbody .rt-tr-group {
  border: 1px solid #abb1b9;
}

.ReactTable .-pagination .-previous, .ReactTable .-pagination .-next {
  background-color: #fff;
  
}

.ReactTable .-pagination .-btn {
  background: rgb(0,0,0,0) !important;
  color: black !important;
  
}
