.App {
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  font-family: 'Nunito', sans-serif;
}

.App .body {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  background: url(./images/glacier-national-park.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App .body .sidebar {
  order: -1;
  max-width: 12em;
  flex-basis: 12em;
  box-shadow: inset rgba(0, 0, 0, .08) -1px 0 0;
  background-color: rgb(255, 255, 255);
  padding-right: 1px;
}

.App .body .content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: -webkit-fill-available;
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 3em;
  padding-bottom: 2em;
}

a{
    border-width: 25px;
    border-color: black;
    border-radius: 10%;
}

h3{
  text-align: center;
  padding-bottom: .5em;
  
}

h6{
  text-align: center;
  padding-bottom: 2em;
}

.form{
  margin-left: 5%;
  margin-right: 5%;
}

.createHeader{
  padding: .5em;
  margin-bottom: 1em;
  font-family: 'Barlow Semi Condensed', sans-serif;
  /* background-color: rgb(180, 93, 93); */
  
}
.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
}

.ReactTable {
  background-color:rgba(136,141,148,.9);
  color: #fff;
  border:2px solid #abb1b9;
  font-size: 105%;
}

.ReactTable .rt-tbody .rt-tr-group {
  border: 1px solid #abb1b9;
}

.ReactTable .-pagination .-previous, .ReactTable .-pagination .-next {
  background-color: #fff;
  
}

.ReactTable .-pagination .-btn {
  background: rgb(0,0,0,0) !important;
  color: black !important;
  
}

.card{
  margin-top: 4%;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 6%;
}

/* @media
  only screen 
  and (max-width: 760px), (min-device-width: 768px) 
  and (max-device-width: 1024px)  {
  h3 {
    color: aquamarine;
  }
} */

@media only screen and (max-width: 800px) {
  .App .body .content {
    padding-left: 2em;
    padding-right: 2em;
  }
  .ReactTable {
    font-size: 90%;
    min-width: 100% !important;
  }
  .ReactTable.employee {
    --header-width-to-use: 24%;
  }
  .ReactTable.park {
    --header-width-to-use: 0%;
  }
  .rt-thead.-header {
    min-width: 100% !important;
  }
  .rt-thead.-filters {
    min-width: 100% !important;
  }
  .rt-tbody {
    min-width: 100% !important;
  }
  .rt-th.date-created.rt-resizable-header.-cursor-pointer, .rt-tr-group .rt-td:nth-child(4)		{ 
    display: none; 
    visibility: hidden; 
    width: 0px !important;
    max-width: 0px !important;
  }
  .rt-th.date-created {
    display: none; 
    visibility: hidden; 
  }
  .rt-th.employee-employee-header.rt-resizable-header.-cursor-pointer, .rt-tr-group .rt-td .employee-employee-cell:nth-child(5)		{ 
    display: none; 
    visibility: hidden; 
    width: 0% !important;
    max-width: 0% !important;
    /* --test-var: 0%; */
  }
  .rt-th.employee-employee-header, .employee-employee-cell {
    display: none; 
    visibility: hidden; 
  }
  .rt-th.park-employee-header.rt-resizable-header.-cursor-pointer, .rt-tr-group .rt-td:nth-child(5)		{ 
    width: 24% !important;
    max-width: 24% !important;
  }
  .rt-th.park-employee-header {
    width: 24% !important;
    max-width: 24% !important;
  }
  .rt-th.category-header.rt-resizable-header.-cursor-pointer, .rt-tr-group .rt-td:nth-child(3) {
    width: calc(26% + var(--header-width-to-use)/4)!important;
    max-width: calc(26% + var(--header-width-to-use)/4) !important;
  }
  .rt-th.category-header {
    width: calc(26% + var(--header-width-to-use)/4) !important;
    max-width: calc(26% + var(--header-width-to-use)/4) !important;
  }
  .rt-th.status-header, .rt-tr-group .rt-td:nth-child(2) {
    width: calc(22% + var(--header-width-to-use)/4) !important;
    max-width: calc(22% + var(--header-width-to-use)/4) !important;
  }
  .rt-th.id-header.rt-resizable-header.-cursor-pointer, .rt-tr-group .rt-td:nth-child(1) {
    width: calc(8% + var(--header-width-to-use)/4) !important;
    max-width: calc(8% + var(--header-width-to-use)/4) !important;
  }
  .rt-th.id-header {
    width: calc(8% + var(--header-width-to-use)/4) !important;
    max-width: calc(8% + var(--header-width-to-use)/4) !important;
  }
  .rt-th.view-edit-header.rt-resizable-header.-cursor-pointer, .rt-tr-group .rt-td:nth-child(6) {
    width: calc(20% + var(--header-width-to-use)/4) !important;
    max-width: calc(20% + var(--header-width-to-use)/4) !important;
  }
  .rt-th.view-edit-header {
    width: calc(20% + var(--header-width-to-use)/4) !important;
    max-width: calc(20% + var(--header-width-to-use)/4) !important;
  }
  button#ticketTableViewButton, button#ticketTableAssignButton {
    padding: .1rem .3rem;
  }

  
}

@media only screen and (max-width: 600px) {
  .App .body .content {
    padding-left: 0em;
    padding-right: 0em;
  }
}

